/*!
* custom styles
*/

body{
    margin: auto 8%;
}

#pForm{
    margin: auto 22.5%;
}

@media (max-width: 600px){
    #pForm{
        margin: auto;
    }
}

.alert{
    display: none;
    margin: auto 10%;
}

button{
    margin-right: 5px;
}